.login_wrapper {
    height: 100%;
    position: relative;
    overflow: auto;
}

.login_box {
    position: absolute;
    top: calc(25% - 100px);
    left: 50%;
    width: 38rem;
    text-align: center;
    transform: translate(-50%);
    padding-bottom: 4rem;
}

.login_box [class*="ant-select"] {
    text-align: left;
}

.login_box img {
    transform: translateX(10%);
}

.error_message {
    width: 100%;
    min-height: 20%;
}
