.tab_page_wrapper {
    padding: 2rem;
    height: 100%;
    overflow: auto;
}

.status_td > span {
    width: 100%;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
}

.finishedStatus_span {
    background: var(--color-status-finish);
    color: black;
}

.errorStatus_span {
    background: var(--color-status-error);
}

.processingStatus_span {
    background: var(--color-status-processing);
    color: black;
}

.queuedStatus_span {
    background: var(--color-status-queued);
}

.cancelledStatus_span {
    background: var(--color-status-cancelled);
}

.job_table {
    font-size: 0.95rem;
}

.job_table tr {
    height: 1.6rem;
    line-height: 1.6rem;
}

.cancelButton {
    font-weight: bold;
    cursor: pointer;
    color: #5a5a5a;
}

.cancelButton:hover {
    color: white;
}