.tab_page_wrapper {
    padding: 2rem;
    height: 100%;
    overflow: auto;
}

.finishedStatus_td {
    background: var(--color-status-finish);
    color: black;
}

.errorStatus_td {
    background: var(--color-status-error);
}

.processingStatus_td {
    background: var(--color-status-processing);
    color: black;
}

.queuedStatus_td {
    background: var(--color-status-queued);
}

.cancelledStatus_td {
    background: var(--color-status-cancelled);
}

.job_table td:nth-child(3) {
    text-align: center;
}

.cancelButton {
    font-weight: bold;
    cursor: pointer;
    color: #5a5a5a;
}

.cancelButton:hover {
    color: white;
}

.error_wrapper {
    position: relative;
}

.errorStatus_td > svg {
    height: 1rem;
    width: 1rem;
    cursor: context-menu;
}

.error_wrapper > div {
    display: none;
    width: 35rem;
    max-height: 20rem;
    top: -1rem;
    overflow: auto;
    padding: 1rem 0 0 1.7rem;
    background: var(--color-popup);
    box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--color-popup-border);
    left: 5rem;
    position: absolute;
}

.errorStatus_td > svg:hover + .error_wrapper > div {
    display: unset;
}

.error_wrapper > div:hover {
    display: unset;
}
