.tab_page_wrapper {
    padding: 2rem;
    height: 100%;
    overflow: auto;
}

.scaffold_wrapper {
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
    height: 100%;
    grid-template-areas: "leftPanel rightPanel"
}

.left_panel {
    grid-area: leftPanel;
    padding-right: 1rem;
}

.right_panel {
    grid-area: rightPanel;
    background: var(--color-additional-panel-background);
}

.both_panel {
    grid-area: auto / leftPanel / auto / rightPanel;
}

.upload_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
}

.add_new_fields_section {
    background: repeating-linear-gradient(
        -40deg,
        rgb(37, 37, 37),
        rgb(37, 37, 37) 10px,
        rgba(255, 96, 61, 0) 10px,
        rgba(255, 96, 61, 0) 20px
    );
    border-radius: 0.6rem;
    padding: 0.8rem;
    width: 100%;
}

.add_new_fields_section h5 {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-primary-color)
}

.add_new_fields_section .selected_tab {
    background-color: var(--color-primary-color);
}

.drop_overlay::after {
    content: '';
    position: absolute;
    border: 0.5rem dashed #555;
    z-index: 10000;
    width: calc(100% - 1rem);
    height: calc(100% - 1rem);
    top: 0.5rem;
    left: 0.5rem;
}

.editable_row [class*=ant-form-item-explain] {
    display: none;
}
