version: 2
updates:
    - package-ecosystem: "npm"
      directory: "/"
      schedule:
          interval: "weekly"
      open-pull-requests-limit: 10
      target-branch: "develop"
      labels:
          - "dependencies"
    - package-ecosystem: "github-actions"
      directory: "/"
      schedule:
          interval: "weekly"
      target-branch: "develop"
      labels:
          - "actions"
    - package-ecosystem: "docker"
      directory: "/"
      schedule:
          interval: "weekly"
      target-branch: "develop"
      labels:
          - "docker"
