# compiled output
dist
build
tmp
mnt
test
**/dist
**/build
**/tmp
**/mnt
**/test

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

/.gitignore
/.eslint*
/.editorconfig
/.dockerignore

/.travis.yml
/renovate.json

/.idea

/node_modules
/.plugins
/dummy

**/__mocks__/**
**/__tests__/**
**/*.test.config.js
Dockerfile

# Example data
db/exampleDataForTesting
**/*.sqlite