# Add files here to ignore them from prettier formatting

/.nx/cache
/.nx/workspace-dat
*.json
*.ts
*.tsx
*.mts
*.mtsx
*.cts
*.ctsx
*.js
*.jsx
*.mjs
*.mjsx
*.cjs
*.cjsx
*.yaml
*.yml
