.page_container {
    grid-template-columns: 100%;
    grid-template-rows: 60px calc(100% - 60px);
    grid-template-areas: 
        "ariane"
        "content";
    display: grid;
    height: 100%;
}

.ariane {
    position: relative;
    background: var(--color-ariane-background);
    grid-area: ariane;
    padding: 0 2rem;
    line-height: 60px;
    font-weight: lighter;
    overflow: hidden;
    height: 100%;
}

.ariane > h3 {
    font-size: 1.7rem;
}

.tabs {
    position: absolute;
    right: 2rem;
    top: 0;
    width: 80%;
    text-align: right;
    overflow: auto;
    display: inline-block;
}

.tabs a {
    background: transparent;
    display: inline-block;
    text-align: center;
    width: 170px;
    box-shadow: none;
    font-size: 1rem;
    padding: 0rem;
    color: var(--color-font-color);
}

.tabs a:hover {
    -webkit-box-shadow:inset 0px -2px 0px 0px var(--color-primary-color);
    -moz-box-shadow:inset 0px -3px 0px 0px var(--color-primary-color);
    box-shadow:inset 0px -3px 0px 0px var(--color-primary-color);
    color: var(--color-button-active);
}

.tabs a.active {
    background: var(--color-ariane-tab-active-background);
}

.content {
    overflow: auto;
    grid-area: content;
    position: relative;
}