.page_container {
    grid-template-columns: 100%;
    grid-template-rows: 80px 30px calc(100% - 110px);
    grid-template-areas: 
        "ariane"
        "tabs"
        "content";
    display: grid;
    height: 100%;
}

.tabs {
    grid-area: tabs;
    height: 100%;
    padding-left: 2rem;
    overflow: auto;
}

.tabs > div {
    height: 100%;
}

.tabs > div > a > div {
    display: inline-block;
    line-height: 30px;
    padding: 0px 1rem 0px 1rem;
    -webkit-box-shadow:inset 0px -1px 0px 0px var(--color-that-orange);
    -moz-box-shadow:inset 0px -1px 0px 0px var(--color-that-orange);
    box-shadow:inset 0px -1px 0px 0px var(--color-that-orange);
}

.tabs > div > a > div:hover {
    -webkit-box-shadow:inset 0px -2px 0px 0px var(--color-that-orange);
    -moz-box-shadow:inset 0px -3px 0px 0px var(--color-that-orange);
    box-shadow:inset 0px -3px 0px 0px var(--color-that-orange);
}

.tabs > div > .active > div {
    background-color: var(--color-that-orange);
}

.content {
    overflow: auto;
}