.tab_page_wrapper {
    padding: 2rem;
    height: 100%;
    overflow: auto;
}

.metadata {
    grid-area: a;
}

@media screen and (min-width: 900px) {
    .scaffold_wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        height: 100%;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        grid-template-areas:
            "a a"
            "b b"
            "c c"
            "d d"
            "e e"
    }

    .metadata span {
        font-size: 20px;
        text-align: center;
    }

    .demographics {
        grid-area: b;
    }

    .data_distribution {
        grid-area: c;
    }

    .data_completeness {
        grid-area: d;
    }

    .data_download {
        grid-area: e;
    }

    .grid_col_center {
        display: flex;
        justify-content: center;
        font-size: 1vw;
    }

    .grid_col_center_large {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    .grid_icon {
        font-size: '600px';
    }

    .title {
        font-size: 20px;
    }

    .demographics_graph {
        width: 50%;
        float: left;
    }
}

@media screen and (min-width: 1500px) {
    .scaffold_wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        height: 100%;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        grid-template-areas:
            "a a"
            "b b"
            "c c"
            "d e"
    }

    .metadata span {
        font-size: 20px;
        text-align: center;
    }

    .demographics {
        grid-area: b;
    }

    .data_distribution {
        grid-area: c;
    }

    .data_completeness {
        grid-area: d;
    }

    .data_download {
        grid-area: e;
    }

    .grid_col_center {
        display: flex;
        justify-content: center;
        font-size: 1vw;
    }

    .grid_col_center_large {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }

    .grid_icon {
        font-size: '600px';
    }

    .title {
        font-size: 20px;
    }

    .demographics_graph {
        width: 25%;
        float: left;
    }
}
