.tab_page_wrapper {
    padding: 2rem;
    height: 100%;
    overflow: auto;
}

.scaffold_wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 60% 50%;
    height: 100%;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-areas:
        "a b c"
        "d d d"
        "e e f"
}

.metadata {
    grid-area: a;
}

.demographics {
    grid-area: d;
}

.field_viewer {
    grid-area: b;
}

.data_completeness {
    grid-area: f;
    overflow: auto;
}

.data_details {
    grid-area: e;
}

.data_download {
    grid-area: c;
}
