.project_detail_scaffold {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50px calc(100% - 50px);
    grid-template-areas:
        "ariane ariane"
        "leftpanel rightpanel";
}

.project_detail_left {
    height: 100%;
    overflow: auto;
    padding: 1.2rem;
    grid-area: leftpanel;
}

.project_detail_right {
    height: 100%;
    overflow: auto;
    background: var(--color-data-background);
    padding: 1.2rem;
    grid-area: rightpanel;
}

.project_detail_title {
    height: 100%;
    overflow: hidden;
    grid-area: ariane;
    line-height: 50px;
    font-size: 1.5rem;
    background: var(--color-dataversions-background);
}

/* backbutton to project list */
.project_detail_title > a > div {
    display: inline-block;
    background: var(--color-ariane-tab-active-background);
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 1rem;
}

/* backbutton to project list */
.project_detail_title > a > div:hover {
    background: var(--color-scroll-bar-active);
}
