.tab_page_wrapper_grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 100%;
    grid-template-areas: "main sub";
}

.main_page {
    grid-area: main;
    border-right: 1px solid rgb(77, 77, 77);
}

.sub_page {
    grid-area: sub;
}

.tab_page_wrapper {
    padding: 2rem;
    overflow: auto;
    height: 100%;
}

.one_role {
    margin-bottom: 1rem;
    position: relative;
    background-color: var(--color-additional-panel-background);
    padding: 1rem;
    transition: background-color ease-in 500ms;
}

.one_role:hover {
    background-color: var(--color-additional-panel-background-hover);
}

.role_name {
    color: var(--color-primary-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    margin: 0 0 0.3rem 0;
}

.add_new_role_button {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-primary-color);
}

.add_new_role_button:hover {
    color: var(--color-that-red);
}

.add_new_role_section {
    background-color: var(--color-additional-panel-background);
    border-radius: 0.2rem;
    padding: 1rem;
    width: 100%;
}

.add_new_role_section .add_new_role_buttons_wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.role_header {
    position: relative;
    width: 100%;
}

.role_header label {
    display: inline-block;
}

.right_aligned {
    display: inline-block;
    position: absolute;
    right: 0rem;
}

.permissions_section {
    width: 100%;
}

.permissions_section > div {
    padding: 0.4rem 1rem;
    display: inline-block;
    margin: 0 1rem 1rem 0;
    background-color: var(--color-permission-unselected);
    cursor: pointer;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.permissions_section > div:not(.permission_selected):hover {
    background-color: var(--color-permission-unselected);
}

.permissions_section > .permission_selected {
    color: black;
    background-color: var(--color-status-finish);
}

.permissions_section > .permission_selected::after {
    content: "✓";
}

.data_permissions {
    background-color: antiquewhite;
}

.management_permissions {
    background-color: darkseagreen;
}
