.tab_page_wrapper_grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 100%;
    grid-template-areas: "main sub"
}

.main_page {
    grid-area: main;
    border-right: 1px solid rgb(77, 77, 77);
}

.sub_page {
    grid-area: sub;
}

.cover_page {
    grid-area: main sub;
}

.tab_page_wrapper {
    padding: 2rem;
    overflow: auto;
    height: 100%;
}

.one_role {
    margin-bottom: 3rem;
}

.role_name {
    color: var(--color-primary-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1rem;
    display: block;
    margin: 0 0 0.3rem 0;
}

.add_new_role_button {
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-primary-color);
}

.add_new_role_button:hover {
    color: var(--color-that-red);
}

.add_new_role_section {
    background: repeating-linear-gradient(
        -40deg,
        rgb(37, 37, 37),
        rgb(37, 37, 37) 10px,
        rgba(255, 96, 61, 0) 10px,
        rgba(255, 96, 61, 0) 20px
    );
    border-radius: 0.6rem;
    padding: 0.8rem;
    width: 80%;
}

.add_new_role_section .add_new_role_buttons_wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.role_header {
    position: relative;
    width: 100%;
}

.role_header label {
    display: inline-block;
}

.right_aligned {
    display: inline-block;
    position: absolute;
    right: 1rem;
}

.delete_role_button {
    width: 1.2rem;
    text-align: center;
    height: 1.2rem;
    line-height: 1.2rem;
    background-color: var(--color-primary-color);
    border-radius: 52%;
    font-size: 0.7rem;
    cursor: pointer;
    font-weight: bold;
}

.delete_role_button:hover {
    background-color: var(--color-that-red);
}