.tab_page_wrapper_grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    height: 100%;
    grid-template-areas: "main sub";
}

.main_page {
    grid-area: main;
}

.sub_page {
    grid-area: sub;
}

.cover_page {
    grid-area: auto / main / auto / sub;
}

.tab_page_wrapper {
    padding: 2rem;
    overflow: auto;
    height: 100%;
}
