.tab_page_wrapper {
    padding: 2rem;
    height: 100%;
    overflow: auto;
}

.scaffold_wrapper {
    display: grid;
    /* grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50% 50%;
    height: 0%;
    grid-row-gap: 25em;
    grid-column-gap: 1em;
    grid-template-areas: 
        "a a a"
        "b b b"
        "e e f" */
}

.selected_color {
    background-color: cyan;
}

.white {
    background-color: white;
}
