.centered {
    display: block;
    text-align: center;
}

.loginForm label {
    display: block;
}

.loginForm div {
    margin-top: 20px;
}

.loginError {
    color: red;
}

.logoutLink {
    color: #881212;
    text-decoration: none;
}

.applicationCard {
    background-color: #EEEEEE;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-right: 0px;
    padding-left: 0px;
    margin: 5px;
}

.applicationTitle {
    background-color: #DDDDDD;
    margin: 0px;
    padding: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: Navy;
}

.applicationDetails {
    margin: 2px;
    margin-left: 20px;
    margin-right: 20px;
}

.applicationDetails a {
    color: #444444;
    text-decoration: none;
}