.app {
    color: var(--color-font-color);
    background-color: var(--color-background);
    height: 100%;
    width: 100%;
    font-weight: var(--font-weight);
    display: grid;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: calc(100% - 2rem) 2rem;
    grid-template-areas: "mainMenuBar mainPanel" "statusBar statusBar"
}

.main_panel {
    grid-area: mainPanel;
    height: 100%;
}

.main_menubar {
    grid-area: mainMenuBar;
    height: 100%;
    background: var(--color-main-menu);
    padding: 1rem 1.2rem 1rem 1.2rem;
    border-right: 1px solid var(--color-main-menu-border);
}

.status_bar {
    grid-area: statusBar;
    padding: 0 1rem;
    line-height: 2rem;
    text-align: right;
    background: var(--color-ariane-background);
    color: var(--color-main-menu);
}

.button {
    color: var(--color-scroll-bar-hover);
    display: block;
    text-align: left;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.button:hover {
    color: var(--color-background);
}

.button svg {
    fill: var(--color-scroll-bar-hover);
    margin-right: 0.8em;
}

.button:hover svg {
    fill: var(--color-background);
}

.clickedButton .button {
    color: var(--color-background);
}

.clickedButton .button svg {
    fill: var(--color-background);
}