.content_section > h5 {
    width: 100%;
    font-size: 1.3rem;
    border-left: 5px solid var(--color-primary-color);
    box-sizing: border-box;
    padding-left: 0.8rem;
    font-weight: normal;
    color: var(--color-font-color);
}

.content_section > div {
    padding-top: 1rem;
}
