.page_container {
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    display: grid;
    height: 100%;
    grid-template-areas: "userList userDetail";
}

.user_list_section {
    grid-area: userList;
}

.user_detail {
    grid-area: userDetail;
    background: var(--color-additional-panel-background);
}

.user_list > table:first-of-type thead:first-of-type tr:first-of-type {
    background: var(--color-background);
}

.create_new_user button {
    display: inline-block;
    width: 40%;
}

.button_clicked button {
    background-color: red;
}

.submit_cancel_button_wrapper {
    display: flex;
    width: 100%;
}

.submit_cancel_button_wrapper a {
    width: 50%;
    margin-right: 0.5rem;
}

.submit_cancel_button_wrapper button {
    width: 100%;
    margin: 0px;
}

.really_delete_button {
    background-color: red;
    cursor: pointer;
    margin-right: 1rem;
}

.request_sent_button {
    cursor: unset;
    background: var(--color-status-finish);
    color: var(--color-font-color);
}

.request_sent_button:hover {
    cursor: unset;
    background: var(--color-status-finish);
    color: var(--color-font-color);
}
