@keyframes lds-flickr-opacity{
    0% {
      -webkit-transform: translate(0 0);
      transform: translate(0 0);
      opacity: 1;
    }
    49.99% {
      opacity: 1;
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    50% {
      opacity: 0;
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @-webkit-keyframes lds-flickr-opacity {
    0% {
      -webkit-transform: translate(0 0);
      transform: translate(0 0);
      opacity: 1;
    }
    49.99% {
      opacity: 1;
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    50% {
      opacity: 0;
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @keyframes lds-flickr {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  @-webkit-keyframes lds-flickr {
    0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    50% {
      -webkit-transform: translate(80px, 0);
      transform: translate(80px, 0);
    }
    100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  .lds-flickr {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    padding: 20% 0 20% 0;
  }
  .lds-flickr div {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    top: 60px;
    left: 20px;
  }
  .lds-flickr div:nth-child(1) {
    background: var(--color-primary-color);
    -webkit-animation: lds-flickr 0.7s linear infinite;
    animation: lds-flickr 0.7s linear infinite;
    -webkit-animation-delay: -0.35s;
    animation-delay: -0.35s;
  }
  .lds-flickr div:nth-child(2) {
    background: #3be6c2;
    -webkit-animation: lds-flickr 0.7s linear infinite;
    animation: lds-flickr 0.7s linear infinite;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .lds-flickr div:nth-child(3) {
    background: var(--color-primary-color);
    -webkit-animation: lds-flickr-opacity 0.7s linear infinite;
    animation: lds-flickr-opacity 0.7s linear infinite;
    -webkit-animation-delay: -0.35s;
    animation-delay: -0.35s;
  }
  .lds-flickr {
    width: 35px !important;
    height: 35px !important;
    -webkit-transform: translate(-17.5px, -17.5px) scale(0.175) translate(17.5px, 17.5px);
    transform: translate(-17.5px, -17.5px) scale(0.175) translate(17.5px, 17.5px);
  }