:root {
    /* stylelint-disable-next-line */
    --font-size-root: 12px;
    --font-size: 0.9rem;
    --font-size-big: 1.5rem;
    --font-family: Arial;
    --color-background: 	#2F323B;
    --color-error:rgb(255, 82, 82);
    --color-purple: 	hsl(266, 56%, 71%);
    --color-purple-shade2: rgb(200, 184, 255);
    --color-section-title: 	#00465e;
    --color-text-blue-light: #52D3DB;
    --color-section-dark: hsl(222, 11%, 17%);
    --color-section-light: 	#F8F8F8;
    --color-text-title-rightpanel: 	rgb(255, 249, 249);
    --color-text-basic-rightpanel: 	rgb(214, 212, 212);
    --color-text-leftpanel-basic: rgb(108, 110, 119);
    --color-text-separator: rgb(201, 201, 201);
    --color-text-light: rgb(109, 109, 109);
    --color-text-selected: 	hsl(197, 97%, 45%);
    --color-royal-blue: hsl(209, 92%, 46%);
    --color-royal-blue-dark: hsl(209, 92%, 38%);
    --color-text-selected-hover: rgb(93, 162, 192);
    --color-input: hsl(222, 11%, 30%);
}

* {
    color: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    white-space: normal;
    text-decoration: none;
    vertical-align: top;
    scroll-behavior: smooth;
    outline: none;
}

html, body, #root {
    position: fixed;
    scroll-behavior: smooth;
    color: var(--color-text-basic);
    font-size: var(--font-size-root);
    font-family: var(--font-family);
    background: var(--color-section-dark);
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body > div {
    height: 100%;
    min-width: 770px;
}

button {
    display: block;
    border-radius: 1.5rem;
    padding: 0.5rem 0.7rem;
    font-size: 0.95rem;
    margin: 3px;
    width: 100%;
    min-height: 20px;
    font-weight: bold;
    line-height: 20px;
    color: var(--color-text-title-rightpanel);
    background-image: linear-gradient(to bottom right, var(--color-royal-blue), var(--color-purple));
}

button:hover {
    background-image: linear-gradient(to bottom right, var(--color-text-selected), var(--color-purple-shade2));
    cursor: pointer;
}

button:active {
    background-image: linear-gradient(to bottom right, hsl(197, 97%, 60%), rgb(222, 212, 255));
    cursor: pointer;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: left;
    vertical-align: middle;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

input, select, label {
    height: 1.3rem;
    line-height: 1.3rem;
}

input, select {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    /* background-color: var(--color-input); */
    background-image: linear-gradient(to bottom right, hsl(222, 11%, 36%), var(--color-input));
    border-radius: 0px;
    margin-left: 0.3rem;
}

textarea {
    border-radius: 0px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color:hsl(222, 11%, 36%);
    width: 100%;
    height: 5rem;
}

input:read-only {
    background-image: linear-gradient(to bottom right, var(--color-section-dark), var(--color-section-dark));
    cursor: default
}

label {
    font-weight: bold
}

h1 {
    display: block;
    width: 100;
    color: var(--color-text-title-rightpanel);
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    display: block;
    width: 100;
    border-bottom: 1px solid rgb(77, 77, 77);
    color: var(--color-text-title-rightpanel);
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

h3 {
    display: block;
    width: 100;
    color: var(--color-text-title-rightpanel);
    border-bottom: 1px solid rgb(77, 77, 77);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-background); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-leftpanel-basic);
  }

  ::-webkit-scrollbar-thumb:active {
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb {
    background: var(--color-input);
  }

  #container {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    grid-area: editorCore
  }