.leftPanel {
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--color-text-leftpanel-basic);
    background-color: var(--color-section-light);
    overflow: auto;
}

.title {
    height: 30px;
    font-weight: bold;
    font-size: var(--font-size-big);
    padding: 5px;
}

.contentContainer {
    padding: 5px;
}

.contentContainer > div {
    padding: 5px;
    border-bottom: 1px solid var(--color-text-light);
    border-radius: 2px;
    margin: 4px;
}

.contentContainer > div:hover {
    background: lightpink;
    cursor: pointer;
}

.contentContainer > div > div {
    padding: 5px;
    margin: 4px;
}