.app {
    height: 100%;
    width: 100%;
    background-color: var(--color-background);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 31px 100%;
    grid-template-areas:
        "mainMenuBar" "mainPanel"
}

.mainMenuBar {
    grid-area: mainMenuBar;
    color: var(--color-text-leftpanel-basic);
    background-image: linear-gradient(to bottom left, var(--color-section-light), rgb(238, 238, 238));
    overflow: auto;
    display: inline-flex;
    width: 100%;
}

.mainMenuBar > div {
    width: 100%;
    line-height: 30px;
}

.mainMenuBar > .hiddenIfTooNarrow {
    display: none;
    border-bottom: 0px;
}

.button {
    display: block;
    border-bottom: 0px;
    border-right: 1px solid var(--color-text-separator);
    min-height: 30px;
    text-align: center;
    width: 100%;
}

.mainMenuBar > div:last-child > a > .button {
    border-right: 0;
}

.button > svg {
    display: none;
}

@media only screen and (min-width: 980px) {
    .app {
        grid-template-columns: 1fr 6.7fr;
        grid-template-rows: 100%;
        grid-template-areas:
            "mainMenuBar mainPanel";
    }

    .mainMenuBar {
        display: block;
    }

    .mainMenuBar > .hiddenIfTooNarrow {
        display: block;
        border-bottom: 1px solid var(--color-text-separator);
        border-right: 0;
        min-height: 50px;
        padding: 25px;
        text-align: center;
    }

    .button {
        display: block;
        border-bottom: 1px solid var(--color-text-separator);
        border-right: 0;
        min-height: 50px;
        padding: 25px;
        text-align: center;
    }

    .mainMenuBar > div:last-child > a > .button {
        border-bottom: 1px solid var(--color-text-separator);
    }

    .button > svg {
        display: inline-block;
        width: 20px;
        height: 20px;
        fill: var(--color-text-leftpanel-basic);
    }

}


.button:hover {
    background-color: var(--color-text-separator);
    cursor: pointer;
}

a[id="logoutButton"] > .button:hover {
    background-color: var(--color-error);
    border-bottom: 1px solid var(--color-error);
}

.mainPanel {
    grid-area: mainPanel;
    color: var(--color-text-basic-rightpanel);
    font-size: 1rem;
    height: 100%;
}

.mainPanel > div > div {
    padding: 1rem;
}


.clickedButton > .button, .studyButtonClicked {
    background-color: var(--color-section-dark);
    color: var(--color-text-selected);
    border-bottom: 1px solid var(--color-section-dark);
}

.clickedButton > .button:hover {
    background-color: var(--color-section-dark);
    color: var(--color-text-selected);
}

.clickedButton > .button > svg {
    fill: var(--color-text-selected);
}


.warning {
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem;
    height: 100%;
    width: 100%;
    display: block;
    background-color: rgba(255, 0, 0, 0.6);
    color: white;
    font-size: 2rem;
    z-index: 999;
}

.warning > span {
    text-decoration: underline;
    cursor: pointer;
}

.warning > span:hover{
    color: black;
}

@media only screen and (min-width: 770px) {
    .warning {
        display: none;
    }
}