.leftPanel {
    grid-column: 1/2;
    grid-row: 1/2;
    color: var(--color-text-leftpanel-basic);
    background-image: linear-gradient(to bottom left, var(--color-section-light), rgb(238, 238, 238));
    overflow: auto;
}

.button {
    border-bottom: 1px solid var(--color-text-separator);
    min-height: 50px;
    padding: 25px;
    text-align: center;
}

.leftPanel > div:not(.studyList) {
    border-bottom: 1px solid var(--color-text-separator);
    min-height: 50px;
    padding: 25px;
    text-align: center;
}

.button:hover {
    background-color: var(--color-text-separator);
    cursor: pointer;
}

a[id="logoutButton"] > .button:hover {
    background-color: var(--color-error);
    border-bottom: 1px solid var(--color-error);
}

.button > svg {
    width: 20px;
    height: 20px;
    fill: var(--color-text-leftpanel-basic);
}

.clickedButton > .button, .studyButtonClicked {
    background-color: var(--color-section-dark);
    color: var(--color-text-selected);
    border-bottom: 1px solid var(--color-section-dark);
}

.clickedButton > .button:hover {
    background-color: var(--color-section-dark);
    color: var(--color-text-selected);
}

.clickedButton > .button > svg {
    fill: var(--color-text-selected);
}

.rightPanel {
    grid-column: 2/3;
    grid-row: 1/2;
}