.studyControl {
    padding: 1rem;
    color: var(--color-text-title-rightpanel);
    font-size: 0.7rem;
    overflow: auto;
    height: 100%;
}

.studyControl > div {
    padding: 1% 2%;
}

.studyControl > div > h3 {
    font-size: 1.5rem;
    margin-left: -3px;
    text-transform: capitalize;
    color: var(--color-text-title-rightpanel);
}