.userList > table > tbody > tr:hover {
    background-color: hsl(222, 11%, 30%);
}

.pageContainer {
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr;
    display: grid;
    height: 100%;
}

.userList {
    grid-column: 1/2;
    border-right: 1px solid rgb(77, 77, 77);
}

.userList > table > tbody > tr {
    height: 1.8rem;
    line-height: 1.8rem;
    text-align: left;
    vertical-align: middle;
}

.userList > table > tbody > tr > td:first-child {
    padding-left: 1rem;
}

.userList > table > thead > tr > th:first-child {
    padding-left: 1rem;
}

.userList > table > thead > tr {
    border-bottom: 1px solid rgb(77, 77, 77);
    color: var(--color-text-title-rightpanel);
}

.userList > table > thead > tr > th > svg {
    fill: var(--color-text-basic-rightpanel);
    height: 88%;
    display: inline
}

.userDetail {
    grid-column: 2/3;
}

.userList button {
    min-height: none;
    height: 1.5rem;
    width: 100%;
    line-height: 1.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

.userList span {
    background-color: var(--color-royal-blue);
    color: white;
    white-space: pre;
}

.showMoreButton span {
    background-image: linear-gradient(to top left, var(--color-royal-blue), hsl(266, 56%, 65%));
    color: white;
    white-space: pre;
}