.page_container {
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-template-areas: "projectListPanel -";
    display: grid;
    height: 100%;
}

.page_container > div:nth-child(2) {
    background: var(--color-additional-panel-background);
}
