.tab_page_wrapper {
    padding: 2rem;
    height: 100%;
    overflow: auto;
}

.scaffold_wrapper {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 100%;
    height: 100%;
    grid-template-areas: "leftPanel rightPanel"
}

.left_panel {
    grid-area: leftPanel;
    border-right: 1px solid rgb(77, 77, 77);
    padding-right: 1rem;
}

.right_panel {
    grid-area: rightPanel;
}

.add_new_fields_section {
    background: repeating-linear-gradient(
        -40deg,
        rgb(37, 37, 37),
        rgb(37, 37, 37) 10px,
        rgba(255, 96, 61, 0) 10px,
        rgba(255, 96, 61, 0) 20px
    );
    border-radius: 0.6rem;
    padding: 0.8rem;
    width: 100%;
}

.add_new_fields_section h5 {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-that-orange)
}

.add_new_fields_section .selected_tab {
    background-color: var(--color-that-orange);
}

.data_summary_section {
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    /* grid-template-rows: 150px 150px; */
    grid-template-areas: "patients empty1 version empty2 tag"
                        "date date date empty3 dummy"
                        "filename filename filename filename filename";
    height: 100%;
}

.data_summary_section > div {
    background-color: rgba(156,156,156,0.1);
    padding: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.data_summary_section > div > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.data_summary_section + h5 {
    font-size: 1rem;
    color: #7d7d7d;
}

.number_highlight{
    font-size: 3rem;
    color: var(--color-that-orange);
    font-weight: bold;
}

.data_version_cube {
    display: inline-block;
    margin-bottom: 1.3rem;
    padding: 0.7rem;
    background-color: rgba(228, 228, 228, 0.1);
    color: #b9b9b9;
    cursor: pointer;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3); */
}

.data_version_cube:hover {
    -webkit-box-shadow:inset 0px -2px 0px 0px var(--color-that-orange);
    -moz-box-shadow:inset 0px -2px 0px 0px var(--color-that-orange);
    box-shadow:inset 0px -2px 0px 0px var(--color-that-orange);
}

.data_version_cube_current {
    background-color: var(--color-that-orange);
    color: white;
}

.data_version_cube_selected_not_current {
    background-color: #c1c1c1;
    color: black;
}

.arrow {
    font-weight: bold;
    color: #d2d2d2;
}