.tab_page_wrapper {
    padding: 2rem;
    /* overflow: auto; */
}

.scaffold_wrapper {
    height: 100%;
    padding-top: 0.5rem;
}

.scaffold_wrapper > div {
    padding: 0 2rem 2rem 2rem;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 0.1fr 6fr;
    height: 100%;
    overflow: auto;
    grid-template-areas: 
    "versions versions"
    "leftPanel rightPanel"
}

.left_panel {
    grid-area: leftPanel;
    border-right: 1px solid rgb(77, 77, 77);
    padding-right: 1rem;
    padding-left: 0;
}

.top_panel {
    grid-area: versions;
    border-bottom: 2px solid rgb(77, 77, 77); 
    padding: 0.5rem 1.5rem 0rem 1.5rem;
    /* padding: 0; */
}

.right_panel {
    grid-area: rightPanel;
    padding-right: 0;
}

.add_new_fields_section {
    background: repeating-linear-gradient(
        -40deg,
        rgb(37, 37, 37),
        rgb(37, 37, 37) 10px,
        rgba(255, 96, 61, 0) 10px,
        rgba(255, 96, 61, 0) 20px
    );
    border-radius: 0.6rem;
    padding: 0.8rem;
    width: 100%;
}

.add_new_fields_section h5 {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-primary-color)
}

.add_new_fields_section .selected_tab {
    background-color: var(--color-primary-color);
}

.data_summary_section {
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    /* grid-template-rows: 150px 150px; */
    grid-template-areas: "patients empty1 version empty2 tag"
                        "date date date empty3 dummy"
                        "filename filename filename filename filename";
    height: 100%;
}

.data_summary_section > div {
    background-color: rgba(156,156,156,0.1);
    padding: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.data_summary_section > div > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.top_panel  h5 {
    font-size: 1rem;
    color: #b6b6b6;
    display: inline-block;
}

.top_panel  h5:first-child {
    margin-right: 25rem;
}

.number_highlight{
    font-size: 1.7rem;
    color: var(--color-primary-color);
    font-weight: bold;
}

.data_version_cube {
    display: inline-block;
    margin-bottom: 1.3rem;
    padding: 0.7rem;
    background-color: rgba(228, 228, 228, 0.1);
    color: #b9b9b9;
    cursor: pointer;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3); */
}

.data_version_cube:hover {
    -webkit-box-shadow:inset 0px -2px 0px 0px var(--color-primary-color);
    -moz-box-shadow:inset 0px -2px 0px 0px var(--color-primary-color);
    box-shadow:inset 0px -2px 0px 0px var(--color-primary-color);
}

.data_version_cube_current {
    background-color: var(--color-primary-color);
    color: white;
}

.data_version_cube_selected_not_current {
    background-color: #c1c1c1;
    color: black;
}

.arrow {
    font-weight: bold;
    color: #d2d2d2;
}

.versioning_section_button {
    background-color: var(--color-primary-color);
    /* background-image: linear-gradient(to bottom right, var(--color-primary-color), hsl(266, 46%, 53%)); */
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    margin-left: 3rem;
    border-radius: 0.3rem;
}

.versioning_section_button:hover {
    /* background-image: linear-gradient(to bottom right, var(--color-primary-color), hsl(266, 46%, 60%)); */
    background-image: linear-gradient(to bottom right, var(--color-royal-blue), var(--color-purple));
    -webkit-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.3);
}


.switchButton {
    display: inline-block;
    width: 3rem;
    transform: scale(0.7)
}

.switchButton:hover{
    background: rgb(90, 90, 90)
}

.infocircle {
    height: 1rem;
}