.tab_page_wrapper {
    padding: 2rem;
}

.scaffold_wrapper {
    height: 100%;
}

.scaffold_wrapper > div {
    height: 100%;
    overflow: auto;
}

.field_management_section {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "a a"
    "left right"
    "c d"
}

.left_panel {
    grid-area: leftPanel;
}

.top_panel {
    grid-area: versions;
    background: var(--color-dataversions-background);
    padding: 1rem 1.5rem 0rem 1.5rem;
}

.right_panel {
    grid-area: rightPanel;
    background: var(--color-data-background);
}

.add_new_fields_section {
    background: var(--color-pop-up);
    border-radius: 0.2rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.add_new_fields_section h5 {
    display: inline-block;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--color-primary-color)
}

.add_new_fields_section .selected_tab {
    background-color: var(--color-primary-color);
}

.data_summary_section {
    display: grid;
    grid-template-columns: 30% 5% 30% 5% 30%;
    /* grid-template-rows: 150px 150px; */
    grid-template-areas: "patients empty1 records empty2 unversioned"                        
                        "version empty1  tag empty2 empty3"
                        "date date date empty5 dummy"
                        "filename filename filename filename filename";
    height: 100%;
}

.data_summary_section > div {
    background-color: var(--color-ariane-tab-active-background);
    padding: 1rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.data_summary_section > div > div {
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.top_panel  h5 {
    font-size: 1rem;
    margin-right: 25rem;
    display: inline-block;
}

.number_highlight{
    font-size: 1.7rem;
    color: var(--color-primary-color);
    font-weight: bold;
}

.data_version_cube {
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0.7rem;
    background-color: rgba(228, 228, 228, 0.1);
    cursor: pointer;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3); */
}

.data_version_cube:hover {
    -webkit-box-shadow:inset 0px -2px 0px 0px var(--color-primary-color);
    -moz-box-shadow:inset 0px -2px 0px 0px var(--color-primary-color);
    box-shadow:inset 0px -2px 0px 0px var(--color-primary-color);
}

.data_version_cube_current {
    background-color: var(--color-status-finish);
    /* color: white; */
}

.data_version_cube_selected_not_current {
    background-color: #c1c1c1;
    color: black;
}

.arrow {
    font-weight: bold;
    color: #d2d2d2;
}

.versioning_section_button {
    margin-left: 3rem;
    width: unset;
    display: inline-block;
    font-weight: normal;

}

.switchButton {
    display: inline-block;
    width: 3rem;
    transform: scale(0.7)
}

.switchButton:hover{
    background: rgb(90, 90, 90)
}

.infocircle {
    height: 1rem;
}

.ant-table table {
    font-size: 16px;
}
