.page_container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: "projectListPanel -";
    display: grid;
    height: 100%;
}

.project_list + div {
    background: var(--color-additional-panel-background);
}
