.tab_page_wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    height: 100%;
    overflow: auto;
}

.tab_page_wrapper > div {
    padding: 2rem;
    height: 100%;
}
/* right panel*/
.tab_page_wrapper > div:nth-child(2) {
    background: var(--color-additional-panel-background);
}

.add_new_project_tr input {
    background-color: #484848;
    border: none;
    margin: 0px;
}

.project_badge {
    height: 3.5rem;
    background: var(--color-pop-up);
    color: unset;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    overflow: hidden;
}
