.tab_page_wrapper {
    padding: 2rem;
    height: 100%;
    overflow: auto;
}

.scaffold_wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 100%;
    height: 100%;
    grid-template-areas: "leftPanel rightPanel"
}

.left_panel {
    grid-area: leftPanel;
    border-right: 1px solid rgb(77, 77, 77);
    padding-right: 1rem;
}

.right_panel {
    grid-area: rightPanel;
}

.add_new_project_tr input {
    background-color: #484848;
    border: none;
    margin: 0px;
}

.project_badge {
    border-radius: 0px;
}

.active_project button, .active_project button:hover {
    background-color: #b5b5b5;
    color: #464646
}