:root {
    --font-size-root: 13px;
    --font-size: 0.9rem;
    --font-size-big: 1.5rem;
    /* override the default colours and add class to <App/>*/
    --font-weight: normal;
    --color-font-color: rgb(31, 31, 31);
    --color-background: #ffffff;
    --color-primary-color: #3a434c;
    --color-error: rgb(15, 9, 9);
    --color-main-menu-border: rgba(0, 0, 0, 0);
    --color-main-menu: #3a434c;
    --color-button-hover: #3a434c;
    --color-button-active: #566371;
    --color-button: #546479;
    --color-ariane-background: #d2dae2;
    --color-ariane-tab-active-background: #afb8c7;
    --color-data-background: #f5f5f5;
    --color-additional-panel-background: #f5f5f5;
    --color-additional-panel-background-hover: #eaeaea;
    --color-pop-up: #cacaca;
    --color-additional-panel-ariane: #b1bfcc;
    --color-dataversions-background: #e6e6e6;
    --color-main-menu-button-hover: grey;
    --color-warning: yellow;
    --color-permission-unselected: #c7c7c7;
    --color-notification: green;
    --color-scroll-bar: #a7a7a7;
    --color-scroll-bar-hover: #c1c1c1;
    --color-scroll-bar-active: #a0a0a0;
    --input-background: #313131;
    --color-status-finish: #16ff92;
    --color-status-error: #ff4f44;
    --color-status-processing: #f3e313;
    --color-status-queued: #696969;
    --color-popup: #131212;
    --color-popup-border: #4a4a4a;
    --color-status-cancelled: #9e78d0;
    /* set to 0 if customised */
    --animation-duration: 0.4s;
    --font-family: 'Inter';
}

@font-face {
    font-family: "Inter";
    src: url("../font/Inter/Inter-VariableFont.ttf");
}

* {
    color: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    white-space: normal;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    font-family: var(--font-family);
}

html,
body,
#root {
    background-color: var(--color-background);
    position: fixed;
    font-size: var(--font-size-root);
    scroll-behavior: smooth;
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#root {
    height: 100%;
    min-width: 770px;
}

.page_section {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px calc(100% - 60px);
    grid-template-areas:
        "ariane"
        "content";
}

.additional_panel {
    background: var(--color-additional-panel-background);
}

.additional_panel>.page_ariane {
    background: var(--color-additional-panel-ariane);
}

.page_ariane {
    grid-area: ariane;
    background: var(--color-ariane-background);
    /* border-bottom: 1px solid var(--color-additional-panel-background-ariane-border); */
    padding: 1rem 2rem 1rem 2rem;
    line-height: calc(60px - 2 * 1rem);
    font-size: 1.7rem;
    font-weight: lighter;
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 100%;
}

.page_content {
    padding: 2.5rem 2rem 1rem 2rem;
    grid-area: content;
    height: 100%;
    font-size: 1rem;
    overflow: auto;
    animation: var(--animation-duration) fade_in;
}

.fade_in {
    animation: var(--animation-duration) fade_in;
}

@keyframes fade_in {
    from {
        transform: translate(-15px);
        opacity: 0.5;
    }

    to {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes fade_in_opacity {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.fade_in_opacity {
    animation: 1s fade_in_opacity;
}

@keyframes error_banner_blink {
    0% {
        background: rgb(224, 66, 66)
    }

    50% {
        background: rgb(233, 106, 106)
    }

    100% {
        background: rgb(224, 66, 66)
    }
}

.error_banner {
    background: rgb(224, 66, 66);
    border-radius: 0.2rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    animation-name: error_banner_blink;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}

@keyframes save_banner_blink {
    0% {
        background: rgb(132, 175, 66)
    }

    50% {
        background: rgb(179, 240, 88)
    }

    100% {
        background: rgb(132, 175, 66)
    }
}

.saved_banner {
    background: rgb(132, 175, 66);
    border-radius: 0.2rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    animation-name: save_banner_blink;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}

@keyframes warning_banner_blink {
    0% {
        background: rgb(255, 238, 0)
    }

    50% {
        background: rgb(255, 249, 172)
    }

    100% {
        background: rgb(255, 238, 0)
    }
}



.warning_banner {
    background: rgb(255, 238, 0);
    border-radius: 0.2rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
    width: 50%;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    animation-name: warning_banner_blink;
    animation-duration: 0.5s;
    animation-iteration-count: 3;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-background);
}

/* Handle */
::-webkit-scrollbar-thumb:hover {
    background: var(--color-scroll-bar-hover);
}

::-webkit-scrollbar-thumb:active {
    background: var(--color-scroll-bar-active);
    cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb {
    background: var(--color-scroll-bar);
}

#container {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    grid-area: editorCore
}