:root {
    /* stylelint-disable-next-line */
    --font-size-root: 13px;
    --font-size: 0.9rem;
    --font-size-big: 1.5rem;
    --font-family: 'Chivo';
    --color-background: 	#2F323B;
    --color-that-orange: #FF5F3C;
    --color-that-red: #FF3C3C;
    --color-error:rgb(255, 82, 82);
    --color-purple: 	hsl(266, 56%, 71%);
    --color-purple-shade2: rgb(200, 184, 255);
    --color-section-title: 	#00465e;
    --color-text-blue-light: #52D3DB;
    --color-section-dark: hsl(222, 11%, 17%);
    --color-section-light: 	#F8F8F8;
    --color-text-title-rightpanel: 	rgb(255, 249, 249);
    --color-text-basic-rightpanel: 	rgb(214, 212, 212);
    --color-text-leftpanel-basic: rgb(108, 110, 119);
    --color-text-separator: rgb(201, 201, 201);
    --color-text-light: rgb(109, 109, 109);
    --color-text-selected: 	hsl(197, 97%, 45%);
    --color-royal-blue: hsl(209, 92%, 46%);
    --color-royal-blue-dark: hsl(209, 92%, 38%);
    --color-text-selected-hover: rgb(93, 162, 192);
    --color-input: hsl(222, 11%, 30%);
}

@font-face {
    font-family: "Chivo";
    src: url("../font/Chivo/Chivo-Regular.ttf");
}

@font-face {
    font-family: "Chivo";
    src: url("../font/Chivo/Chivo-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Chivo";
    src: url("../font/Chivo/Chivo-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Cairo";
    src: url("../font/Cairo/Cairo-Regular.ttf");
}
@font-face {
    font-family: "Cairo";
    src: url("../font/Cairo/Cairo-Bold.ttf");
    font-weight: bold;
}

* {
    color: inherit;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    white-space: normal;
    text-decoration: none;
    /* vertical-align: top; */
    scroll-behavior: smooth;
    outline: none;
}

html, body, #root {
    position: fixed;
    scroll-behavior: smooth;
    color: white;
    font-size: var(--font-size-root);
    font-family: var(--font-family);
    background-color: rgb(17, 17, 17);
    /* background: linear-gradient(180deg, #606060 0%, rgba(0, 0, 0, 0) 100%), #282828; */
    user-select: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body > div {
    height: 100%;
    min-width: 770px;
}

button {
    display: block;
    padding: 0.5rem 0.7rem;
    font-size: 0.95rem;
    margin: 3px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 0.25rem;
    width: 100%;
    min-height: 20px;
    font-weight: bold;
    line-height: 20px;
    background-color: var(--color-that-orange);
}

button:hover {
    background-image: linear-gradient(to bottom right, var(--color-royal-blue), var(--color-purple));
    /* background-image: linear-gradient(to bottom right, var(--color-text-selected), var(--color-purple-shade2)); */
    cursor: pointer;
}

button:active {
    background-image: linear-gradient(to bottom right, hsl(197, 97%, 60%), rgb(222, 212, 255));
    cursor: pointer;
}

.button_grey {
    background-image: none;
    background-color: #4A4A4A;
}

.button_grey:hover{
    background-image: none;
    background-color: rgb(53, 53, 53);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    height: 1.4rem;
    line-height: 1.4rem;
    text-align: left;
    vertical-align: middle;
}

a {
    color: inherit;
}

a:hover {
    color: inherit;
}

input, select, label {
    height: 1.3rem;
    line-height: 1.3rem;
}

input, select {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    border-radius: 0px;
    margin-left: 0.3rem;
}

input {
    border-bottom: 1px solid #969696;
    background-color: rgba(0,0,0,0);
}

input:focus {
    border-bottom: 1px solid var(--color-that-orange);
    color: var(--color-that-orange)
}

textarea {
    border-radius: 0px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color:hsl(222, 11%, 36%);
    width: 100%;
    height: 5rem;
}

input:read-only {
    background-image: linear-gradient(to bottom right, var(--color-section-dark), var(--color-section-dark));
    cursor: default
}

.page_section {
    height: 100%;
    display: grid;
    grid-template-columns: 100%; 
    grid-template-rows: 80px calc(100% - 80px); 
    grid-template-areas: 
        "ariane"
        "content";
}

.page_ariane {
    grid-area: ariane;
    padding: 2rem 2rem 2.5rem 2rem;
    line-height: calc(80px - 2rem - 2.5rem);
    font-size: 2.5rem;
    font-weight: lighter;
    overflow: hidden;
    height: 100%;
}

.page_content {
    padding: 0rem 2rem 1rem 2rem;
    grid-area: content;
    height: 100%;
    font-size: 1rem;
    overflow: auto;
}



h1 {
    display: block;
    color: var(--color-text-title-rightpanel);
    font-size: 2rem;
    margin-bottom: 1rem;
}

h4 {
    display: block;
    height: 100%;
    line-height: 100%;
    color: white;
    font-size: 2.5rem;
}

h3 {
    display: block;
    color: var(--color-text-title-rightpanel);
    border-bottom: 1px solid rgb(77, 77, 77);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-background); 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-text-leftpanel-basic);
  }

  ::-webkit-scrollbar-thumb:active {
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb {
    background: var(--color-input);
  }

  #container {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    grid-area: editorCore
  }