.studyControl {
    color: var(--color-text-title-rightpanel);
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 100%;
    grid-template-areas: "studyDashboard extraActionPanel";
}

.studyDashboard {
    grid-area: studyDashboard;
    overflow: auto;
    height: 100%;
    border-right: 1px solid rgb(77, 77, 77);
}

@media only screen and (min-width: 1550px) {
    .studyDashboard {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "jobs jobs addShortcut"
            "applicationList curation deleteStudy";
    }
}

.extraActionPanel {
    grid-area: extraActionPanel;
    padding: 2%;
    height: 100%;
    overflow: auto;
}

.studyControl > div > div {
    padding: 2% 2%;
}

.studyControl div h3 {
    font-size: 1.5rem;
    margin-left: -3px;
    text-transform: capitalize;
    color: var(--color-text-title-rightpanel);
}
