name: Test and Build CI

on: [push]
    
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, windows-latest, ubuntu-latest]
        node: [10.x, 12.x, 13.x]
        # os: [ubuntu-latest]
        # node: [10.x, 12.x, 13.x]

    steps:
    - uses: actions/checkout@v1
    - name: Using Node.js ${{ matrix.node }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node }}
    - name: Installing dependencies
      run: npm install
    - name: Building packages
      run: npm run build --if-present
    - name: Running unit tests
      run: npm run test:unit
      env:
        CI: true
